.analytics {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  height: 100vh;
  row-gap: 0px;
  align-content: start;
}

.stat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.stat {
  margin: auto;
}
