.card {
  display: flex;
  border-radius: 10px;
  /* background-color: #7441d2bd; */
  background-color: var(--overlay-color);
  padding: 16px 10px;
  margin: 6px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  height: fit-content;
}

.card-title {
  padding-bottom: 5px;
  margin: 0px;
}

.span2 {
  grid-column: span 2;
}
