.color-empty {
  fill: #051e2b !important;
}

.react-calendar-heatmap .color-scale-0 {
  fill: #051e2b;
}

.react-calendar-heatmap .color-scale-1 {
  fill: #0e374c;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #185c7e;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #2281b0;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #2ba6e3;
}
