.selection-buttons {
  display: flex;
  max-width: 100%;
  gap: 2%;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* hide scrollbar for chrome, safari and opera */
.selection-buttons::-webkit-scrollbar {
  display: none;
}

.week-button {
  padding: 1px;
  line-height: 1em;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}
