:root {
  --background: white;
  --text-primary: black;
  --text-secondary: rgb(92, 103, 136);
  --accent: purple;
}

[data-theme="dark"] {
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: rgb(8, 154, 142);
}

[data-theme="light"] {
  --background: white;
  --text-primary: black;
  --text-secondary: rgb(65, 65, 65);
  --accent: rgb(8, 154, 142);
}
