a {
  text-decoration: none !important;
  color: whitesmoke !important;
}

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  /* justify-content: space-evenly; */
  padding: 5%;
  gap: 4%;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  padding-bottom: 64px;
  background-color: var(--background-color);
}
.page:after {
  content: "";
  flex: auto;
}

.week-title {
  font-size: 120%;
  font-weight: 700;
}

@media (min-width: 150px) {
  .timer {
    flex: 0 0 calc(100% - 10px);
  }
  .week-title {
    font-size: 12px;
  }
}

@media (min-width: 375px) {
  .timer {
    flex: 0 0 calc(48% - 10px);
  }
  .week-title {
    font-size: 95%;
  }
}

@media (min-width: 600px) {
  .timer {
    flex: 0 0 calc(30% - 10px);
  }
  .week-title {
    font-size: 160%;
  }
}

@media (min-width: 1200px) {
  .timer {
    flex: 0 0 calc(16.666% + 40px);
  }
}

.timer {
  /* z-index: 1; */
  color: whitesmoke;
  margin: 5px;
  margin-bottom: 50px;
}

.foreground {
  z-index: 1;
}

.timer-title {
  color: var(--text-primary);
  margin-bottom: 8px;
  font-size: 18px;
  text-align: center;
  /* text-transform: capitalize; */
}

.add {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 25px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: 17px;
  line-height: 0;
  z-index: auto;
  padding: 0;
}

.mini {
  line-height: 0;
}

.inline {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.modal {
  width: 90vh;
}

.full {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: var(--background-color);
}

.vert-cent {
  padding: 40px;
}

.circ {
  width: 22px;
  padding: 10px 0 10px 0;
  line-height: 0;
  border-radius: 25px;
}

.shift {
  left: 0;
  min-width: 90px;
}

.overview {
  grid-column: span 2;
  padding: 0 24px;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: var(--text-secondary) !important;
  font-size: 12px !important;
}

.navbar {
  display: flex;
  width: 100vw;
  position: absolute;
  bottom: 0;
  justify-content: center !important;
  background-color: var(--nav-bar);
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.2);
  gap: 8px;
  height: 52px;
  z-index: 1;
}

.nav-icon {
  color: var(--text-primary);
}

.selected {
  background: #ffffff1f;
}

.heading {
  margin-bottom: 0%;
  padding-left: 5%;
  padding-top: 16px;
  font-weight: 600;
  font-size: 48px;
  padding-top: 5%;
  z-index: 99;
  color: var(--text-primary);
  grid-column: span all;
  position: relative;
  width: 100%;
}

.parent {
  position: relative;
  width: 100%;
  height: 98vh;
  overflow: hidden;
}

.child {
  height: 98vh;
  width: calc(100% + 18px);
  padding-right: 18px;
  overflow-y: scroll;
  display: contents;
}
