html,
body {
  /* Hide Scroll bar for web    */
  overflow-x: hidden;
  scrollbar-width: none;
  overflow: scroll;
}

* {
  -webkit-touch-callout: none; /* Disable long press on link */
  -webkit-user-select: none; /* Disable selection */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
